body{
    text-align: center;
    background-color: #fdb869;
}
a{
    padding: 15px;
}
a:active,
a:visited{
    color: green;
}

img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1000px;
    border-radius: 10px ;
}